@font-face{
	font-family: crayon;
	src: url(orange_juice_20.ttf) format('opentype');
}


body{
	margin: 0px;
background: url(fond3.png) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

nav{
	height: 20px;
	width: 100%;
	background: white;
}

a{
display: inline-block;

}

h3{
	display: inline;
	color: rgba(35, 123, 215, 0.9);
	margin-top: -4px;
	margin-left: 2px;
	font-family: crayon;
}